<ion-view view-title="Contact" ng-init="showContact()" ng-controller="SendMailCtrl">
 
   
  <ion-content>
  <form ng-submit="">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Your Name:</span>
          <input type="text" ng-model="message.name">	
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email ID:</span>
          <input type="email" ng-model="message.email">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Subject:</span>
          <input type="text" ng-model="message.subject">
        </label>
       <label class="item item-input item-stacked-label">
          <span class="input-label">Message:</span>
         	<span>
           <textarea class="textarea" rows="5" ng-model="message.message"></textarea>
           </span>
        </label>
        
        <label class="item">
          <button class="button button-block button-calm" ng-click="sendMail()" ng-disabled="!message.email || !message.name" type="submit">
          Submit</button>
        </label>
      </div>
    </form>
  </ion-content>