<ion-modal-view>
  
       <ion-header-bar class="bar-calm mynavbar">
            <h1 class="title">Create Vendor Configuration</h1>
            <div class="buttons">
                <button class="button button-calm" ng-click="closeModal()">
                	<i class="icon ion-android-close"></i></button>
            </div>
        </ion-header-bar>
  <ion-content>
    <form ng-submit="">
      <div class="list">
        <label class="item item-input item-select">
        	<div class="input-label">
     			 Vendors
    		</div>
          	<select ng-model="data.index" ng-options="vendors.indexOf(vendor) as vendor for vendor in vendors">
  			</select>
        </label>
        <label class="item item-input">
          <input type="email" placeholder="Email ID" ng-model="config.email">
        </label>
        <div class="item item-input">
          <input type={{inputType}} placeholder="Password" ng-model="config.password">
          <button  class="button button-clear" ng-click="hideShowPassword()">
          	<i class="icon icon-eye ion-eye" ng-class="{active : showPassword}" ></i>
          </button>
	    </div> 
        <label class="item">
          <button class="button button-block button-calm" ng-click="storeConfig()" ng-disabled="!config.email || !config.password" type="submit">
          Add Vendor</button>
        </label>
      </div>
    </form>
  </ion-content>
 
</ion-modal-view>
