<ion-modal-view>
    
    <!-- login pane -->
    <ion-pane ng-show="viewLogin">
        <ion-header-bar class="bar-energized mynavbar">
            <h1 class="title">Login</h1>
            <div class="buttons">
                <button class="button button-energized" ng-click="hide()">
                	<i class="icon ion-android-close"></i></button>
            </div>
        </ion-header-bar>
        <ion-content>
            <form>
                <div class="list">
                    <label class="item item-input">
                        <input class="my-input" placeholder="Email Address" type="email" ng-model="user.email">
                    </label>
                    <div class="item item-input">
                       	<input class="my-input" placeholder="Password"  type={{inputType}} ng-model="user.password">
	                    <button  class="button button-clear" ng-click="hideShowPassword()"><i class="icon icon-eye ion-eye" ng-class="{active : showPassword}" ></i></button>		  		
			  		</div>
			  		<div class="item">
			  			<a class="link" href="javascript:" ng-controller="PasswordResetCtrl" ng-click="openModal()">
			  			Forgot your password?
            			</a>
			  		</div>
                    <div class="item">
                        <button class="button button-block button-calm" ng-click="login()" ng-disabled="!user.email || !user.password" type="submit">Log in</button>
                    </div>
                </div>
            </form>
            <div class="item">
	  			<p class="text">New Customer?
	  			<a class="link" href="javascript:"  ng-click="switchTab('register')">
	  			 SignUp
          		</a>
          		</p>
			 </div>
        </ion-content>
    </ion-pane>
    <!-- register pane -->
    <ion-pane ng-hide="viewLogin">
        <ion-header-bar class="bar-energized mynavbar">
        	<div class="buttons">
                <button class="button button-energized" ng-click="switchTab('login')">
                	<i class="icon ion-arrow-left-a"></i></button>
            </div>
            <h1 class="title">Register</h1>
            <div class="buttons">
                <button class="button button-energized" ng-click="hide()">
                	<i class="icon ion-android-close"></i></button>
            </div>
        </ion-header-bar>
        <ion-content>
            <form>
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="Name" ng-model="user.name">
                    </label>
                    <label class="item item-input ">
                        <input type="text" placeholder="Email Address" ng-model="user.email">
                    </label>
                    <div class="item item-input">
                        <input type={{inputType}} placeholder="Password" ng-model="user.password">
                        <button  class="button button-clear" ng-click="hideShowPassword()"><i class="icon icon-eye ion-eye" ng-class="{active : showPassword}" ></i></button>
                    </div>
                    <div class="item item-input">
                        <input type={{inputType}} placeholder="Confirm Password" ng-model="user.password_confirmation">
                    	<button  class="button button-clear" ng-click="hideShowPassword()"><i class="icon icon-eye ion-eye" ng-class="{active : showPassword}" ></i></button>
			  		</div>
                    <label class="item">
                        <button class="button button-block button-calm" ng-click="register()" ng-disabled="!user.name || !user.email || !user.password" type="submit" type="submit">Register</button>
                    </label>
                </div>
            </form>
        </ion-content>
    </ion-pane>
</ion-modal-view>