<ion-modal-view>
  
  	<ion-header-bar class="bar-calm">
		<h1 class="title">Send Password Reset Link</h1>
	    	<div class="buttons">
	             <button class="button button-calm" ng-click="closeModal()">
	             	<i class="icon ion-android-close"></i></button>
	         </div>
	</ion-header-bar> 
  	<ion-content>
	    <form ng-submit="">
	    
	      <div class="list">
	        <div class="item item-input-inset">
	   			<label class="item-input-wrapper">
	      			<input type="email" placeholder="Email" ng-model="user.email">
	   		 	</label>
	      	</div>  
	       
	        <label class="item">
	          <button class="button button-block button-calm" ng-click="sendLink()" ng-disabled="!user.email" type="submit">
	          	Send Password Reset Link
	          </button>
	        </label>
	      </div>
	     
	    </form>
	  </ion-content>
  
</ion-modal-view>
