<ion-modal-view>
 
	<ion-header-bar class="bar-calm">
         <h1 class="title">Update Vendor Configuration</h1>
         <div class="buttons">
             <button class="button button-calm" ng-click="closeModal()">
             	<i class="icon ion-android-close"></i></button>
         </div>
     </ion-header-bar>
	 <ion-content class="padding">
	   <form ng-submit="">
	     <div class="list">
	       <label class="item item-input">
	         <span class="input-label">Vendor Name:</span>
	          <span class="input-label" ng-model="config.vendor_id">{{config.name}}</span>
	   
	       </label>
	       <label class="item item-input">
	         <span class="input-label">Email ID:</span>
	         <input type="email" ng-model="config.email">
	       </label>
	       <div class="item item-input">
	       	<span class="input-label">Password</span>
           	<input type={{inputType}} placeholder="Password" ng-model="config.password">
          	<button  class="button button-clear" ng-click="hideShowPassword()">
          		<i class="icon icon-eye ion-eye" ng-class="{active : showPassword}" ></i>
          	</button>
	       </div> 
	       <label class="item">
	         <button class="button button-block button-calm" ng-click="updateConfig($index)" ng-disabled="!config.email || !config.password" type="submit">
	         Update Vendor</button>
	       </label>
	     </div>
	   </form>
	 </ion-content>
 
</ion-modal-view>
